<div class="vox-cards">
<ngb-accordion class="card" #acc="ngbAccordion" [activeIds]="activeIds" (panelChange)="onPanelChange($event)">
    <ngb-panel class="panel-heading card-header" [id]="id">
        <ng-template ngbPanelTitle>
            <h5 class="accordion-toggle">
                {{ title }}
            </h5>
        </ng-template>
        <ng-template ngbPanelContent>
            <ng-content class="card-block"></ng-content>
            <div
                *ngIf="erroInfo"
                [class]="'alert alert-' + erroInfo.statusClass">
                    {{ erroInfo.label }}
                    <label
                        class="alert-link"
                        [hidden]="erroStatus !== 'erro'"
                        (click)="tentarNovamente()">
                            : Tentar Novamente
                    </label>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
</div>
