button,
input {
    transition: all 0.7s ease;
}

.btn.btn-nav-base,
.btn.btn-outline-secondary {
    font-size: 0.95em;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

.btn.btn-nav-base {
    background: $primary;
    color: $white;

    &:hover {
        background: $primary-focus !important;
        color: $white;
    }

    &.btn-nav-ico-left {
        padding: 0.4rem 0.8rem 0.3rem 3.3rem !important;
    }

    &.btn-nav-ico-right {
        padding: 0.4rem 3.3rem 0.3rem 0.8rem !important;
    }
}

.btn-nav-secondary {
    background: $primary-dark;
}

.btn-acao {
    margin: 0 0 0.5em 0.5em;
}

.btn-acao-group {
    float: right;
    text-align: right;
    width: 84%;
}

.btn-singout {
    font-size: 1.3em !important;
    right: 17em;
}

.btn-sm {
    background-color: $terciary !important;
    font-size: 0.8rem !important;
    margin-bottom: 0;
    text-transform: none;
}
