button,
input {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.btn-nav-base, .btn-nav-secondary {
  margin-bottom: 5px;
  position: relative;
  color: $white;
  text-transform: uppercase;
  font-size: .9em;
  overflow: hidden;
}

.btn-nav-base {
  background: $primary;

  &:hover {
    background: $primary-focus;
    color: $white;
  }
}

.btn-nav-secondary {
  background: $primary-darck;
}

.btn-nav-ico-right {
  padding-right: 3.5em;
}

.btn-nav-ico-left {
  padding-left: 3.5em;
}

.btn-acao {
  margin: 0 0 .5em .5em;
}


.btn-acao-group {
  float: right;
  width: 84%;
  text-align: right;
}

.btn-singout {
  right: 17em;
  font-size: 1.3em !important
}
