@import 'src/assets/scss/variables';
@import 'src/assets/scss/buttons';
@import 'src/assets/scss/vox-cards';
@import 'src/assets/scss/header';
@import 'src/assets/scss/nav';
@import 'src/assets/scss/search';
@import 'src/assets/scss/fontawesome';
@import 'src/assets/scss/datepicker';
@import 'src/assets/scss/visualizar';

body {
    color: $primary-dark;

    &::before,
    &::after {
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
    }

    &::before {
        background: $primary-lighter;
        background: linear-gradient(to bottom, $primary-lighter 66%, $white 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary-lighter', endColorstr='$white', GradientType=0);
        height: 10em;
        top: 0;
    }

    &::after {
        background: $primary-border;
        height: 0.5em;
        top: 5.7em;
        z-index: 5;
    }
}

.form-control {
    padding: 0.4em 0.2em;

    &:focus {
        border-color: $primary-border;
        box-shadow: 0 0 0 0.2rem $primary-lighter;
    }
}

.input-invalid {
    border: solid 1px $error-border;
    box-shadow: 0 0 0 0.2rem $error-shadow;

    &:focus {
        @extend .input-invalid;
    }
}

.is-primary {
    color: $primary;
}
