#permission-navigation {
  border: 0;
  background-color: #e5e5e5;
}

.permission-navigation-title {
  padding: .4em 0 .3em .8em;
  background: #ccc;

  h5 {
    margin: 0;
    font-size: 1em;
  }
}

.nav-tabs {
  border-bottom: 1px solid #215827;

  .nav-item {
    margin-top: 0;
    border-bottom: .1em solid #286834;
  }

  .nav-link {
    color: #24592fc4;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 1px solid #9292922e;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #e8f3f047;

    &:hover {
      background: $primary-light;
    }

    .nav-item.show .nav-link, .active {
      color: #286935;
      background-color: $primary-lighter;
      border-color: #286935 #276432 $white;
      font-weight: 600;
    }
  }
}
