$primary: #005b34;
$primary-focus: #00361f;
$white: #fff;
$primary-light: #b5d1c5;
$primary-lighter: #e7f2ee;
$primary-border: #9abeb2;
$primary-dark: #4f4f4f;
$error-border: #e64757;
$error-shadow: #dc354538;
$terciary: #2b783e;
