.breadcrumb-content {
    position: relative;

    &::after {
        clear: both;
        content: '';
        display: block;
    }

    .breadcrumb-nav {
        float: left;
        padding: 0 0 1.15em 0.6em;

        a {
            color: var(--sig-primary);
            font-weight: bold;
        }

        .breadcrumb-arrow {
            color: #c2c1c1;
            font-size: 0.8em;
            margin: 0 0.9em 0 0.2em;
        }

        &:first-child .breadcrumb-arrow {
            display: none;
        }
    }

    .breadcrumb-detail {
        background: #ffffff;
        color: var(--sig-primary);
        font-size: 0;
        left: 0.6em;
        position: absolute;
        top: 0.95em;
        z-index: 10;
    }
}

.breadcrumb-content .breadcrumb-nav a:hover {
    color: var(--sig-primary-focus);
}
