<app-collapse label="Observação" [isCollapsed]="false" [loading]="loading">
    <div *ngIf="statusAtualProcesso == 36">
        <ng-container *ngFor="let observacao of observacoes$ | async">
            <dl>
                <dd>
                    <strong>Mensagem:</strong> {{ observacao.descricao }} Em:
                    {{ observacao.data | date: 'dd/MM/yyyy hh:mm:ss' }} Por: {{ observacao.usuario }}
                </dd>
            </dl>
        </ng-container>
    </div>
    <form [formGroup]="observacaoForm">
        <div class="form-group row align-center-flex">
            <label for="descricao" class="col-2 col-form-label text-left">Observação:</label>
            <div class="col-10">
                <textarea
                    class="form-control form-control-sm"
                    formControlName="descricao"
                    id="observacao"
                    rows="5"
                ></textarea>
            </div>
        </div>
    </form>
</app-collapse>
