<app-title-page [subtitle]="'form'"></app-title-page>

<app-alert-check-processo></app-alert-check-processo>

<div class="container mb-5">
    <div class="row mb-4">
        <div class="col-md-12">
            <h5 class="text-uppercase col-md-4 mb-4">Dados do Leiloeiro</h5>
            <form [formGroup]="pessoaForm">
                <div class="col-md-5">
                    <p class="input-view">
                        <label class="col-4 p-0">CPF:</label>
                        <input
                            class="col-8"
                            formControlName="cpf"
                            [textMask]="maskFactory.createCpf()"
                            id="cpf"
                            type="text"
                        />
                    </p>
                    <p class="input-view">
                        <label class="col-4 p-0">Nome:</label>
                        <input class="col-8" formControlName="nome" id="nome" type="text" />
                    </p>
                </div>
                <div class="form-group col-md-4 br-input">
                    <label for="nacionalidade" class="campo-obrigatorio">Nacionalidade</label>
                    <select id="nacionalidade" formControlName="nacionalidade" class="form-control input">
                        <option value="">Selecione</option>
                        <option
                            *ngFor="let nacionalidade of commonService.nacionalidadeOptions | async"
                            [ngValue]="nacionalidade.key"
                        >
                            {{ nacionalidade.value }}
                        </option>
                    </select>
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'nacionalidade')">
                        <i class="fas fa-times-circle"></i>
                        {{ pessoaForm.getFirstErrorFrom('nacionalidade', 'Nacionalidade') }}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="campo-obrigatorio">Naturalidade Brasileira</label><br />
                    <div
                        [ngClass]="['br-radio', 'd-inline', !isFieldValid(pessoaForm, 'isBrasileiro') ? '' : 'invalid']"
                    >
                        <input id="sim_br" type="radio" [value]="true" formControlName="isBrasileiro" />
                        <label for="sim_br" [ngClass]="isFieldValid(pessoaForm, 'isBrasileiro') ? '' : 'invalid'"
                            >Sim</label
                        >
                    </div>
                    <div
                        [ngClass]="['br-radio', 'd-inline', !isFieldValid(pessoaForm, 'isBrasileiro') ? '' : 'invalid']"
                    >
                        <input id="nao_br" type="radio" [value]="false" formControlName="isBrasileiro" />
                        <label for="nao_br" [ngClass]="isFieldValid(pessoaForm, 'isBrasileiro') ? '' : 'invalid'"
                            >Não</label
                        >
                    </div>
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'isBrasileiro')">
                        <i class="fas fa-times-circle"></i>
                        {{ pessoaForm.getFirstErrorFrom('isBrasileiro', 'Naturalidade Brasleira') }}
                    </div>
                </div>
                <div class="form-group col-md-4" *ngIf="pessoaForm.isBrasileiro.value">
                    <label for="ufNaturalidade" class="campo-obrigatorio">UF da Naturalidade</label>
                    <select id="ufNaturalidade" formControlName="ufNaturalidade" class="form-control input">
                        <option value="">Selecione</option>
                        <option *ngFor="let uf of commonService.estadoOptions | async" [value]="uf.key">
                            {{ uf.value }}
                        </option>
                    </select>
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'ufNaturalidade')">
                        <i class="fas fa-times-circle"></i>
                        {{ pessoaForm.getFirstErrorFrom('ufNaturalidade', 'UF da Naturalidade') }}
                    </div>
                </div>
                <div class="form-group col-md-4" *ngIf="pessoaForm.isBrasileiro.value">
                    <label for="naturalidade" class="campo-obrigatorio">Naturalidade</label>
                    <select id="naturalidade" formControlName="naturalidade" class="form-control input">
                        <option value="">Selecione</option>
                        <option *ngFor="let naturalidade of naturalidade$ | async" [value]="naturalidade.key">
                            {{ naturalidade.value }}
                        </option>
                    </select>
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'naturalidade')">
                        <i class="fas fa-times-circle"></i>
                        {{ pessoaForm.getFirstErrorFrom('naturalidade', 'Naturalidade') }}
                    </div>
                </div>
                <div class="form-group col-md-4 br-input">
                    <label for="estadoCivil" class="campo-obrigatorio">Estado Civil</label>
                    <select id="estadoCivil" formControlName="estadoCivil" class="form-control input">
                        <option value="">Selecione</option>
                        <option
                            *ngFor="let estadoCivil of commonService.estadoCivilOptions | async"
                            [value]="estadoCivil.key"
                        >
                            {{ estadoCivil.value }}
                        </option>
                    </select>
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'estadoCivil')">
                        <i class="fas fa-times-circle"></i>
                        {{ pessoaForm.getFirstErrorFrom('estadoCivil', 'Estado Civil') }}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="picker" class="campo-obrigatorio">Data do nascimento</label>
                    <input
                        class="form-control input"
                        bsDatepicker
                        formControlName="dataDeNascimento"
                        [bsConfig]="datepickerConfig"
                    />
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'dataDeNascimento')">
                        <i class="fas fa-times-circle"></i>
                        {{ pessoaForm.getFirstErrorFrom('dataDeNascimento', 'Data do nascimento') }}
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <label class="campo-obrigatorio">Sexo</label><br />
                    <div [ngClass]="['br-radio', 'd-inline', !isFieldValid(pessoaForm, 'sexo') ? '' : 'invalid']">
                        <input id="sexo-1" type="radio" value="F" formControlName="sexo" />
                        <label for="sexo-1">Feminino</label>
                    </div>
                    <div [ngClass]="['br-radio', 'd-inline', !isFieldValid(pessoaForm, 'sexo') ? '' : 'invalid']">
                        <input id="sexo-2" type="radio" value="M" formControlName="sexo" />
                        <label for="sexo-2">Masculino</label>
                    </div>
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'sexo')">
                        <i class="fas fa-times-circle"></i> {{ pessoaForm.getFirstErrorFrom('sexo', 'Sexo') }}
                    </div>
                </div>
                <div class="br-input col-md-7">
                    <label for="nomeDaMae" class="campo-obrigatorio">Nome da Mãe</label>
                    <input formControlName="nomeDaMae" id="nomeDaMae" type="text" />
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'nomeDaMae')">
                        <i class="fas fa-times-circle"></i>
                        {{ pessoaForm.getFirstErrorFrom('nomeDaMae', 'Nome da Mãe') }}
                    </div>
                </div>
                <div class="br-input col-md-7 mt-3">
                    <label for="nomeDoPai">Nome do Pai</label>
                    <input formControlName="nomeDoPai" id="nomeDoPai" type="text" />
                </div>

                <h5 class="text-uppercase col-md-4 mb-4 mt-4">Documentos</h5>
                <div class="br-input col-md-3">
                    <label for="carteira-identidade" class="campo-obrigatorio">Carteira de Identidade</label>
                    <input formControlName="carteiraIdentidade" id="carteira-identidade" type="text" />
                    <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'carteiraIdentidade')">
                        <i class="fas fa-times-circle"></i>
                        {{ pessoaForm.getFirstErrorFrom('carteiraIdentidade', 'Carteira de Identidade') }}
                    </div>
                </div>
                <div class="d-flex mt-3">
                    <div class="br-input col-md-3">
                        <label for="orgao-emissor" class="campo-obrigatorio">Órgão Emissor</label>
                        <input formControlName="orgaoEmissor" id="orgao-emissor" type="text" />
                        <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'orgaoEmissor')">
                            <i class="fas fa-times-circle"></i>
                            {{ pessoaForm.getFirstErrorFrom('orgaoEmissor', 'UF Órgão Emissor') }}
                        </div>
                    </div>
                    <div class="br-input col-md-4">
                        <label for="uf-orgao-emissor" class="campo-obrigatorio">UF Órgão Emissor</label>
                        <select id="uf-orgao-emissor" formControlName="ufOrgaoEmissor" class="form-control input">
                            <option value="">Selecione</option>
                            <option *ngFor="let uf of commonService.estadoOptions | async" value="{{ uf.key }}">
                                {{ uf.value }}
                            </option>
                        </select>
                        <div class="feedback color-danger" *ngIf="isFieldValid(pessoaForm, 'ufOrgaoEmissor')">
                            <i class="fas fa-times-circle"></i>
                            {{ pessoaForm.getFirstErrorFrom('ufOrgaoEmissor', 'UF Órgão Emissor') }}
                        </div>
                    </div>
                </div>
            </form>
            <h5 class="text-uppercase col-md-4 my-4">Endereço e contato</h5>
            <form [formGroup]="enderecoForm">
                <div class="row">
                    <div class="br-input col-md-3 ml-3">
                        <label for="cep" class="campo-obrigatorio">CEP</label>
                        <input
                            formControlName="cep"
                            id="cep"
                            type="text"
                            [textMask]="maskFactory.createCep()"
                            (blur)="definirEnderecoPorCep($event)"
                        />
                        <div class="feedback color-danger" *ngIf="isFieldValid(enderecoForm, 'cep')">
                            <i class="fas fa-times-circle"></i>
                            {{ enderecoForm.getFirstErrorFrom('cep', 'CEP') }}
                        </div>
                    </div>
                    <button
                        type="button"
                        class="br-button primary col-md-3 margin-top-2em"
                        (click)="openModal(pesquisaCep)"
                    >
                        <i class="fas fa-search"></i> Busque seu Cep
                    </button>
                </div>
                <div class="br-input col-md-4 mt-3">
                    <label for="tipo-logradouro" class="campo-obrigatorio">Tipo Logradouro</label>
                    <select id="tipo-logradouro" formControlName="tipoLogradouro" class="form-control input">
                        <option value="">Selecione</option>
                        <option
                            *ngFor="let tipoLogradouro of commonService.tipoLogradouroOptions | async"
                            [value]="tipoLogradouro.key"
                        >
                            {{ tipoLogradouro.value }}
                        </option>
                    </select>
                    <div class="feedback color-danger" *ngIf="isFieldValid(enderecoForm, 'tipoLogradouro')">
                        <i class="fas fa-times-circle"></i>
                        {{ enderecoForm.getFirstErrorFrom('tipoLogradouro', 'Tipo Logradouro') }}
                    </div>
                </div>
                <div class="br-input col-md-6 mt-3">
                    <label for="logradouro" class="campo-obrigatorio">Logradouro</label>
                    <input formControlName="logradouro" id="logradouro" type="text" />
                    <div class="feedback color-danger" *ngIf="isFieldValid(enderecoForm, 'logradouro')">
                        <i class="fas fa-times-circle"></i>
                        {{ enderecoForm.getFirstErrorFrom('logradouro', 'Logradouro') }}
                    </div>
                </div>
                <div class="d-flex">
                    <div class="br-input col-md-5 mt-3">
                        <label for="bairro" class="campo-obrigatorio">Bairro</label>
                        <input formControlName="bairro" id="bairro" type="text" />
                        <div class="feedback color-danger" *ngIf="isFieldValid(enderecoForm, 'bairro')">
                            <i class="fas fa-times-circle"></i>
                            {{ enderecoForm.getFirstErrorFrom('bairro', 'Bairro') }}
                        </div>
                    </div>
                    <div class="br-input col-md-5 mt-3">
                        <label for="numero" class="campo-obrigatorio">Número</label>
                        <input formControlName="numero" id="numero" type="text" />
                        <div class="feedback color-danger" *ngIf="isFieldValid(enderecoForm, 'numero')">
                            <i class="fas fa-times-circle"></i>
                            {{ enderecoForm.getFirstErrorFrom('numero', 'Número') }}
                        </div>
                    </div>
                </div>
                <div class="br-input col-md-6 mt-3">
                    <label for="complemento">Complemento</label>
                    <input formControlName="complemento" id="complemento" type="text" />
                </div>
                <div class="d-flex">
                    <div class="br-input col-md-5 mt-3">
                        <label for="bairro" class="campo-obrigatorio">UF</label>
                        <select id="uf" formControlName="uf" class="form-control input">
                            <option value="">Selecione</option>
                            <option *ngFor="let uf of commonService.estadoOptions | async" [value]="uf.key">
                                {{ uf.value }}
                            </option>
                        </select>
                        <div class="feedback color-danger" *ngIf="isFieldValid(enderecoForm, 'uf')">
                            <i class="fas fa-times-circle"></i>
                            {{ enderecoForm.getFirstErrorFrom('uf', 'UF') }}
                        </div>
                    </div>
                    <div class="br-input col-md-5 mt-3">
                        <label for="municipio" class="campo-obrigatorio">Município</label>
                        <select id="municipio" formControlName="municipio" class="form-control input">
                            <option value="">Selecione</option>
                            <option *ngFor="let municipio of municipioEndereco$ | async" [value]="municipio.key">
                                {{ municipio.value }}
                            </option>
                        </select>
                        <div class="feedback color-danger" *ngIf="isFieldValid(enderecoForm, 'municipio')">
                            <i class="fas fa-times-circle"></i>
                            {{ enderecoForm.getFirstErrorFrom('municipio', 'Município') }}
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="br-input col-md-1 mt-3">
                        <label for="ddd-celular" class="campo-obrigatorio">Celular</label>
                        <input
                            [textMask]="maskFactory.createDdd()"
                            formControlName="dddCelular"
                            id="ddd-celular"
                            type="text"
                            class="p-0 text-center"
                        />
                    </div>
                    <div class="br-input col-md-3 mt-3">
                        <label class="text-white">.</label>
                        <input formControlName="celular" [textMask]="maskFactory.createCelular()" type="text" />
                    </div>
                </div>
                <div
                    class="feedback color-danger col-md-12"
                    *ngIf="isFieldValid(enderecoForm, 'celular') || isFieldValid(enderecoForm, 'dddCelular')"
                >
                    <i class="fas fa-times-circle"></i>
                    {{ enderecoForm.getFirstErrorFrom('celular', 'Celular') }}
                </div>
                <div class="d-flex">
                    <div class="br-input col-md-1 mt-3">
                        <label for="ddd-telefone">Telefone</label>
                        <input
                            [textMask]="maskFactory.createDdd()"
                            formControlName="dddTelefone"
                            id="ddd-telefone"
                            type="text"
                            class="p-0 text-center"
                        />
                    </div>
                    <div class="br-input col-md-3 mt-3">
                        <label class="text-white">.</label>
                        <input formControlName="telefone" [textMask]="maskFactory.createTelefone()" type="text" />
                    </div>
                </div>
                <div class="br-input col-md-6 mt-3">
                    <label for="email" class="campo-obrigatorio">Email</label>
                    <input formControlName="email" id="email" type="email" />
                    <div class="feedback color-danger" *ngIf="isFieldValid(enderecoForm, 'email')">
                        <i class="fas fa-times-circle"></i>
                        {{ enderecoForm.getFirstErrorFrom('email', 'Email') }}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 text-right mt-4">
            <div class="wizard-panel-btn">
                <button class="br-button is-secondary my-2 mr-2" id="btn-cadastrar" type="button" routerLink="/">
                    <i class="fas fa-angle-left"></i> Voltar
                </button>
                <button
                    class="br-button primary my-2"
                    id="btn-cadastrar"
                    type="button"
                    (click)="salvar()"
                    [disabled]="loading"
                    [attr.loading]="loading ? true : null"
                >
                    Salvar <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #pesquisaCep>
    <div class="br-modal is-medium">
        <div class="br-modal-dialog">
            <div class="br-modal-content">
                <div class="br-modal-header">
                    <h2 class="br-modal-title">Pesquisa CEP</h2>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="br-modal"
                        aria-label="Close"
                        (click)="modalRef.hide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="br-modal-body">
                    <form [formGroup]="cepForm">
                        <div class="row">
                            <div class="br-input col-md-8">
                                <input
                                    formControlName="logradouro"
                                    id="logradouro"
                                    type="text"
                                    placeholder="Pesquise pelo logradouro"
                                />
                            </div>
                            <button
                                class="br-button is-secondary is-small col-md-3"
                                type="button"
                                (click)="getLogradouroPeloCep()"
                                [disabled]="!cepForm.valid"
                            >
                                <i class="fas fa-search"></i> Pesquisar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="br-modal-footer justify-content-end row" *ngIf="showOptionsCep">
                    <ul *ngFor="let end of enderecosBuscados; let i = index" class="col-md-12 list-group">
                        <li class="list-group-item border-0" (click)="definirEnderecoPorCep(end.key)">
                            {{ end.value }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>
