<app-view-page>
    <app-collapse label="Identificação" [loading]="loading">
        <app-input
            label="Protocolo"
            formControlName="protocolo"
            [isObrigatorio]="true"
            col="5"
            [form]="produtorForm"
            [readOnly]="true"
            [message]="!produtorForm.protocolo.valid ? produtorForm.getFirstErrorFrom('protocolo', 'Protocolo') : ''"
        ></app-input>
        <app-input
            label="Número do CPF"
            formControlName="no_cpf"
            [isObrigatorio]="true"
            col="5"
            [readOnly]="true"
            [textMask]="maskFactory.createCpf()"
            [form]="produtorForm"
            [message]="!produtorForm.no_cpf.valid ? produtorForm.getFirstErrorFrom('no_cpf', 'Número CPF') : ''"
        ></app-input>
        <app-input
            label="Nome Completo"
            [isObrigatorio]="true"
            formControlName="ds_nome"
            col="9"
            [form]="produtorForm"
            [message]="!produtorForm.ds_nome.valid ? produtorForm.getFirstErrorFrom('ds_nome', 'Nome Completo') : ''"
        ></app-input>
        <app-input
            label="Data da Solicitação"
            [isObrigatorio]="true"
            formControlName="dt_solicitacao"
            col="5"
            [readOnly]="true"
            [form]="produtorForm"
            [message]="
                !produtorForm.dt_solicitacao.valid
                    ? produtorForm.getFirstErrorFrom('dt_solicitacao', 'Data da Solicitação')
                    : ''
            "
        ></app-input>
        <app-input
            label="Eventos"
            [isObrigatorio]="true"
            formControlName="co_evento"
            col="6"
            [readOnly]="true"
            [form]="produtorForm"
            [message]="!produtorForm.co_evento.valid ? produtorForm.getFirstErrorFrom('co_evento', 'Eventos') : ''"
        ></app-input>
    </app-collapse>
    <app-collapse label="Dados Produtor Rural" [loading]="loading">
        <app-input
            label="Documento de Identificação"
            [isObrigatorio]="true"
            formControlName="nu_documento"
            [form]="produtorForm"
            col="4"
            [message]="
                !produtorForm.nu_documento.valid
                    ? produtorForm.getFirstErrorFrom('nu_documento', 'Documento de Identificação')
                    : ''
            "
        ></app-input>
        <app-input
            label="Órgão Emissor"
            [isObrigatorio]="true"
            formControlName="ds_orgao_emissor"
            [form]="produtorForm"
            col="4"
            [message]="
                !produtorForm.ds_orgao_emissor.valid
                    ? produtorForm.getFirstErrorFrom('ds_orgao_emissor', 'Órgão Emissor')
                    : ''
            "
        ></app-input>
        <app-input
            label="UF do Emissor"
            formControlName="co_uf_emissor"
            [form]="produtorForm"
            col="4"
            type="select"
            [options]="commonService.estadoOptions"
            keyOp="nu_uf"
            valueOp="ds_sigla"
            [message]="
                !produtorForm.co_uf_emissor.valid
                    ? produtorForm.getFirstErrorFrom('co_uf_emissor', 'UF do Emissor')
                    : ''
            "
        >
        </app-input>
        <app-input
            label="Data de Nascimento"
            formControlName="dt_nascimento"
            [isObrigatorio]="true"
            col="4"
            [form]="produtorForm"
            type="date"
            [mensagemStatus]="
                !produtorForm.dt_nascimento.valid
                    ? produtorForm.getFirstErrorFrom('dt_nascimento', 'Data de Nascimento')
                    : ''
            "
        >
        </app-input>

        <app-input
            label="Naturalidade"
            formControlName="naturalidade"
            col="7"
            [form]="produtorForm"
            [message]="
                !produtorForm.naturalidade.valid ? produtorForm.getFirstErrorFrom('naturalidade', 'Naturalidade') : ''
            "
        ></app-input>

        <app-input
            label="UF Naturalidade"
            formControlName="uf_naturalidade"
            col="4"
            [form]="produtorForm"
            type="select"
            [options]="commonService.estadoOptions"
            keyOp="nu_uf"
            valueOp="ds_sigla"
            [message]="
                !produtorForm.uf_naturalidade.valid
                    ? produtorForm.getFirstErrorFrom('uf_naturalidade', 'UF Naturalidade')
                    : ''
            "
        >
        </app-input>
    </app-collapse>
    <app-collapse label="Endereço de correspondência e contato" [loading]="loading">
        <app-input
            label="UF"
            [isObrigatorio]="true"
            formControlName="uf_pais"
            col="7"
            [form]="produtorForm"
            type="select"
            [options]="commonService.estadoOptions"
            keyOp="co_uf"
            valueOp="ds_sigla"
            [message]="!produtorForm.uf_pais.valid ? produtorForm.getFirstErrorFrom('uf_pais', 'UF') : ''"
        >
        </app-input>
        <app-input
            label="Município"
            [isObrigatorio]="true"
            formControlName="co_municipio"
            col="7"
            [form]="produtorForm"
            type="select"
            [options]="listaMunicipiosProdutor"
            [message]="
                !produtorForm.co_municipio.valid ? produtorForm.getFirstErrorFrom('co_municipio', 'Município') : ''
            "
        >
        </app-input>
        <app-input
            label="CEP"
            [isObrigatorio]="true"
            formControlName="co_cep"
            col="4"
            [textMask]="maskFactory.createCep()"
            [form]="produtorForm"
            [message]="!produtorForm.co_cep.valid ? produtorForm.getFirstErrorFrom('co_cep', 'CEP') : ''"
        ></app-input>
        <app-input
            label="Logradouro"
            formControlName="ds_endereco"
            col="7"
            [form]="produtorForm"
            type="select"
            [options]="commonService.logradouroOptions"
            [message]="
                !produtorForm.ds_endereco.valid ? produtorForm.getFirstErrorFrom('ds_endereco', 'Logradouro') : ''
            "
        >
        </app-input>
        <app-input
            label="Número"
            [isObrigatorio]="true"
            formControlName="nu_numero"
            col="4"
            [form]="produtorForm"
            [message]="!produtorForm.nu_numero.valid ? produtorForm.getFirstErrorFrom('nu_numero', 'Número') : ''"
        ></app-input>
        <app-input
            label="Complemento"
            formControlName="ds_complemento"
            col="7"
            [form]="produtorForm"
            [message]="
                !produtorForm.ds_complemento.valid
                    ? produtorForm.getFirstErrorFrom('ds_complemento', 'Complemento')
                    : ''
            "
        ></app-input>
        <app-input
            label="Bairro"
            [isObrigatorio]="true"
            formControlName="ds_bairro"
            col="7"
            [form]="produtorForm"
            [message]="!produtorForm.ds_bairro.valid ? produtorForm.getFirstErrorFrom('ds_bairro', 'Bairro') : ''"
        ></app-input>
        <app-input
            label="Telefone"
            formControlName="nu_telefone"
            col="7"
            [textMask]="maskFactory.createTelefone()"
            [form]="produtorForm"
            [message]="!produtorForm.nu_telefone.valid ? produtorForm.getFirstErrorFrom('nu_telefone', 'Telefone') : ''"
        ></app-input>
        <app-input
            label="Fax"
            formControlName="co_fax"
            col="7"
            [form]="produtorForm"
            [message]="!produtorForm.co_fax.valid ? produtorForm.getFirstErrorFrom('co_fax', 'Fax') : ''"
        ></app-input>
        <app-input
            label="Email"
            formControlName="ds_email"
            col="7"
            [form]="produtorForm"
            [message]="!produtorForm.ds_email.valid ? produtorForm.getFirstErrorFrom('ds_email', 'Email') : ''"
        ></app-input>
    </app-collapse>
    <app-card-documentos [dados]="documentos" [loading]="loading"></app-card-documentos>
    <app-card-anexos [dados]="anexos" [loading]="loading" [isPageForm]="true"></app-card-anexos>
    <div class="d-flex justify-content-end mt-2">
        <app-button label="Voltar" (click)="voltar()"></app-button>
        <app-button label="Salvar" (click)="salvar()" [loading]="loadingUpdate"></app-button>
    </div>
</app-view-page>
