<app-view-page>
    <app-collapse label="Identificação" [loading]="loading">
        <app-input
            [label]="formLabelProdutor.protocolo"
            [formControlName]="formFieldProdutor.protocolo"
            [isObrigatorio]="true"
            col="5"
            [form]="produtorForm"
            [readOnly]="true"
            [message]="
                !produtorForm.protocolo.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.protocolo, formLabelProdutor.protocolo)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.no_cpf"
            [formControlName]="formFieldProdutor.no_cpf"
            [isObrigatorio]="true"
            col="5"
            [readOnly]="true"
            [textMask]="maskFactory.createCpf()"
            [form]="produtorForm"
            [message]="
                !produtorForm.no_cpf.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.no_cpf, formLabelProdutor.no_cpf)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.ds_nome"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.ds_nome"
            col="9"
            [form]="produtorForm"
            [message]="
                !produtorForm.ds_nome.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.ds_nome, formLabelProdutor.ds_nome)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.dt_solicitacao"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.dt_solicitacao"
            col="5"
            [readOnly]="true"
            [form]="produtorForm"
            [message]="
                !produtorForm.dt_solicitacao.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.dt_solicitacao, formLabelProdutor.dt_solicitacao)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.co_evento"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.co_evento"
            col="6"
            [readOnly]="true"
            [form]="produtorForm"
            [message]="
                !produtorForm.co_evento.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.co_evento, formLabelProdutor.co_evento)
                    : ''
            "
        ></app-input>
    </app-collapse>
    <app-collapse label="Dados Produtor Rural" [loading]="loading">
        <app-input
            [label]="formLabelProdutor.nu_documento"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.nu_documento"
            [form]="produtorForm"
            col="4"
            [message]="
                !produtorForm.nu_documento.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.nu_documento, formLabelProdutor.nu_documento)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.ds_orgao_emissor"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.ds_orgao_emissor"
            [form]="produtorForm"
            col="4"
            [message]="
                !produtorForm.ds_orgao_emissor.valid
                    ? produtorForm.getFirstErrorFrom(
                          formFieldProdutor.ds_orgao_emissor,
                          formLabelProdutor.ds_orgao_emissor
                      )
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.co_uf_emissor"
            [formControlName]="formFieldProdutor.co_uf_emissor"
            [form]="produtorForm"
            col="4"
            type="select"
            [options]="commonService.estadoOptions"
            keyOp="nu_uf"
            valueOp="ds_sigla"
            [message]="
                !produtorForm.co_uf_emissor.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.co_uf_emissor, formLabelProdutor.co_uf_emissor)
                    : ''
            "
        >
        </app-input>
        <app-input
            [label]="formLabelProdutor.dt_nascimento"
            [formControlName]="formFieldProdutor.dt_nascimento"
            [isObrigatorio]="true"
            col="4"
            [form]="produtorForm"
            type="date"
            [mensagemStatus]="
                !produtorForm.dt_nascimento.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.dt_nascimento, formLabelProdutor.dt_nascimento)
                    : ''
            "
        >
        </app-input>

        <app-input
            [label]="formLabelProdutor.naturalidade"
            [formControlName]="formFieldProdutor.naturalidade"
            col="7"
            [form]="produtorForm"
            [message]="
                !produtorForm.naturalidade.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.naturalidade, formLabelProdutor.naturalidade)
                    : ''
            "
        ></app-input>

        <app-input
            [label]="formLabelProdutor.uf_naturalidade"
            [formControlName]="formFieldProdutor.uf_naturalidade"
            col="4"
            [form]="produtorForm"
            type="select"
            [options]="commonService.estadoOptions"
            keyOp="nu_uf"
            valueOp="ds_sigla"
            [message]="
                !produtorForm.uf_naturalidade.valid
                    ? produtorForm.getFirstErrorFrom(
                          formFieldProdutor.uf_naturalidade,
                          formLabelProdutor.uf_naturalidade
                      )
                    : ''
            "
        >
        </app-input>
    </app-collapse>
    <app-collapse label="Endereço de correspondência e contato" [loading]="loading">
        <app-input
            [label]="formLabelProdutor.uf_pais"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.uf_pais"
            col="7"
            [form]="produtorForm"
            type="select"
            [options]="commonService.estadoOptions"
            keyOp="co_uf"
            valueOp="ds_sigla"
            [message]="
                !produtorForm.uf_pais.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.uf_pais, formLabelProdutor.uf_pais)
                    : ''
            "
        >
        </app-input>
        <app-input
            [label]="formLabelProdutor.co_municipio"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.co_municipio"
            col="7"
            [form]="produtorForm"
            type="select"
            [options]="listaMunicipiosProdutor"
            [message]="
                !produtorForm.co_municipio.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.co_municipio, formLabelProdutor.co_municipio)
                    : ''
            "
        >
        </app-input>
        <app-input
            [label]="formLabelProdutor.co_cep"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.co_cep"
            col="4"
            [textMask]="maskFactory.createCep()"
            [form]="produtorForm"
            [message]="
                !produtorForm.co_cep.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.co_cep, formLabelProdutor.co_cep)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.ds_endereco"
            [formControlName]="formFieldProdutor.ds_endereco"
            col="7"
            [form]="produtorForm"
            type="select"
            [options]="commonService.logradouroOptions"
            [message]="
                !produtorForm.ds_endereco.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.ds_endereco, formLabelProdutor.ds_endereco)
                    : ''
            "
        >
        </app-input>
        <app-input
            [label]="formLabelProdutor.nu_numero"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.nu_numero"
            col="4"
            [form]="produtorForm"
            [message]="
                !produtorForm.nu_numero.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.nu_numero, formLabelProdutor.nu_numero)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.ds_complemento"
            [formControlName]="formFieldProdutor.ds_complemento"
            col="7"
            [form]="produtorForm"
            [message]="
                !produtorForm.ds_complemento.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.ds_complemento, formLabelProdutor.ds_complemento)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.ds_bairro"
            [isObrigatorio]="true"
            [formControlName]="formFieldProdutor.ds_bairro"
            col="7"
            [form]="produtorForm"
            [message]="
                !produtorForm.ds_bairro.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.ds_bairro, formLabelProdutor.ds_bairro)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.nu_telefone"
            [formControlName]="formFieldProdutor.nu_telefone"
            col="7"
            [textMask]="maskFactory.createTelefone()"
            [form]="produtorForm"
            [message]="
                !produtorForm.nu_telefone.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.nu_telefone, formLabelProdutor.nu_telefone)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.co_fax"
            [formControlName]="formFieldProdutor.co_fax"
            col="7"
            [form]="produtorForm"
            [message]="
                !produtorForm.co_fax.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.co_fax, formLabelProdutor.co_fax)
                    : ''
            "
        ></app-input>
        <app-input
            [label]="formLabelProdutor.ds_email"
            [formControlName]="formFieldProdutor.ds_email"
            col="7"
            [form]="produtorForm"
            [message]="
                !produtorForm.ds_email.valid
                    ? produtorForm.getFirstErrorFrom(formFieldProdutor.ds_email, formLabelProdutor.ds_email)
                    : ''
            "
        ></app-input>
    </app-collapse>
    <app-card-documentos [dados]="documentos" [loading]="loading"></app-card-documentos>
    <app-card-anexos [dados]="anexos" [loading]="loading" [isPageForm]="true"></app-card-anexos>
    <div class="d-flex justify-content-end mt-2">
        <app-button label="Voltar" (click)="voltar()"></app-button>
        <app-button label="Salvar" (click)="salvar()" [loading]="loadingUpdate"></app-button>
    </div>
</app-view-page>
