%trace {
    border-left: 2px solid #a5a5a5;
    content: '';
    height: 17px;
    left: 9px;
    position: absolute;
    top: 0;
}

.close {
    background: transparent;
    border: 0;
    border-radius: 20%;
    height: 18px;
    outline: none;
    position: relative;
    position: absolute;
    right: 20px;
    top: 7px;
    width: 21px;

    &::after {
        @extend %trace;
        transform: rotate(45deg);
    }

    &::before {
        @extend %trace;
        transform: rotate(-45deg);
    }
}
