<ng-template #acompanhar>
    <div class="br-modal is-medium">
        <div class="br-modal-dialog">
            <div class="br-modal-content">
                <div class="br-modal-header">
                    <h4 class="br-modal-title">
                        Prezado usuário, já existe registro de leiloeiro para o seu CPF.
                    </h4>
                    <p>Deseja visualizar o processo?</p>
                </div>
                <div class="br-modal-body d-flex justify-content-center">
                    <button
                        class="br-button is-secondary is-small col-md-3"
                        type="button"
                        (click)="visualizarProcessoExistente()"
                    >
                        Sim <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
