<app-modal label="Motivo do Indeferimento" size="lg" #modal>
    <section class="row col">
        <app-input
            label="Descrição"
            formControlName="descricao"
            isObrigatorio="true"
            [form]="indeferirForm"
            [message]="!indeferirForm.descricao.valid ? indeferirForm.getFirstErrorFrom('descricao', 'Descrição') : ''"
            type="textarea"
            rows="5"
            col="8"
            class="col"
        ></app-input>
    </section>
    <footer class="row">
        <app-simple-button label="Cancelar Indeferimento" (click)="closeModal()" class="px-1"> </app-simple-button>
        <app-simple-button
            label="Confirmar Indeferimento"
            (click)="confirmarIndeferir()"
            [loading]="loading"
            [isPrimary]="true"
            class="px-1"
        >
        </app-simple-button>
    </footer>
</app-modal>
