<lib-modal label="Motivo do Indeferimento" size="lg" #modal>
    <section class="row col">
        <lib-input
            label="Descrição"
            formControlName="descricao"
            [isObrigatorio]="true"
            [form]="indeferirForm"
            [message]="!indeferirForm.descricao.valid ? indeferirForm.getFirstErrorFrom('descricao', 'Descrição') : ''"
            type="textarea"
            rows="5"
            col="8"
            class="col"
        ></lib-input>
    </section>
    <footer class="row">
        <lib-button label="Cancelar Indeferimento" (click)="closeModal()" [isSecondary]="true" class="px-1">
        </lib-button>
        <lib-button label="Confirmar Indeferimento" (click)="confirmarIndeferir()" [loading]="loading" class="px-1">
        </lib-button>
    </footer>
</lib-modal>
