<app-loading-global></app-loading-global>
<app-alert></app-alert>

<div *ngIf="usuario">
    <lib-header
        [sistema]="sistema"
        [usuario]="usuario"
        [logoEntidade]="urlLogo"
        [urlApi]="urlApi"
        [subDomain]="subDomain"
        [logoSistema]="urlLogoSistema"
        [horario]="dataSistema"
    >
    </lib-header>

    <main class="container container-base">
        <div class="row">
            <aside class="col-md-3">
                <lib-menu [modulos]="itensMenu"></lib-menu>
            </aside>
            <section class="col-9 content-app">
                <div class="system-content">
                    <app-breadcrumbs [getFuncionalidade]="funcionalidade"></app-breadcrumbs>
                    <router-outlet></router-outlet>
                </div>
            </section>
        </div>
    </main>

    <app-footer></app-footer>
</div>
