<div class="container">
    <div class="row mt-5 page-header mb-4">
        <div class="col-md-7 pt-3" [ngClass]="{ 'col-md-12': subtitle == 'form' }">
            <h2 class="pl-3 text-uppercase">
                {{ title || 'Leiloeiro' }}
                <div class="col-md-12 padding-0">
                    <small *ngIf="!subtitle">Escolha uma das opções abaixo</small>
                    <small *ngIf="subtitle == 'form'">
                        * Os campos marcados com asterisco são de preenchimento obrigatório
                    </small>
                </div>
            </h2>
        </div>
        <div class="col-md-5" *ngIf="showButton">
            <a [href]="link || 'https://teste.com'" [title]="titleButton" class="btn-solicitar-evento-exclusivo">
                {{ titleButton || 'Certidão' }}
                <strong>Solicite ou Acompanhe</strong>
            </a>
        </div>
    </div>
</div>
