<div class="grid-home">
    <div class="nav">
        <div class="nav__column">
            <img [src]="baseHref + 'assets/images/logo.png'" class="logo" alt="Logo" />
            <h1>Mapeamento Tecnológico de Projetos</h1>

            @if (lista) {
                <ul>
                    @for (item of lista; track lista) {
                        @defer {
                            <a [routerLink]="[baseHref, item.route]" [style]="['background:'] + item.color">
                                <li>
                                    {{ item.label }}
                                </li>
                            </a>
                        } @placeholder {
                            <p>Carregando dados...</p>
                        } @error {
                            <p>Ocorreu um erro na requisição.</p>
                        }
                    } @empty {
                        Lista não encontrada.
                    }
                </ul>
            }
        </div>
    </div>
    <div class="bg-card"></div>
</div>
