<app-card-panel (panelOpen)="onPanelOpen()" [activeIds]="activeIds" [title]="cardTitle" [id]="cardId" [erroStatus]="responseError">
    <form [formGroup]="oficioForm">
        <div class="form-group mt-3">
          <div class="form-group row">
            <label for="oficio" class="col-3 col-form-label  d-flex align-items-center">Número do Ofício:* </label>
            <div class="col-md-6">
              <input type="text" formControlName="oficio" class="form-control" id="oficio"
              [ngClass]="[isFieldValid(oficioForm, 'oficio') ? 'input-invalid' : '', 'form-control', 'form-control-sm']"/>
              <div class="mt-1 text-danger" *ngIf="isFieldValid(oficioForm, 'oficio')">
                {{ oficioForm.getFirstErrorFrom('oficio','Ofício') }}
            </div>
            </div>
          </div>
        </div>
      </form>
</app-card-panel>
