<lib-collapse label="Dados da Pessoa" [isCollapsed]="false" [loading]="loading">
    <lib-list label="Nome" [value]="pessoa?.nome"></lib-list>
    <lib-list label="CPF" [value]="pessoa?.cpf" mask="cpf"></lib-list>
    <lib-list label="Documento" [value]="pessoa?.documento"></lib-list>
    <lib-list label="Orgão Emissor" [value]="pessoa?.orgao_emissor"></lib-list>
    <lib-list label="UF do Orgão Emissor" [value]="pessoa?.uf_orgao_emissor"></lib-list>
    <lib-list label="Data de Nascimento" [value]="pessoa?.data_nascimento" date="dd/MM/yyyy"></lib-list>
    <lib-list label="Nacionalidade" [value]="pessoa?.nacionalidade"></lib-list>
    <lib-list label="Naturalidade Estrangeira" [value]="pessoa?.naturalidade_estrangeira"></lib-list>
    <lib-list label="UF da Naturalidade" [value]="pessoa?.uf_naturalidade"></lib-list>
    <lib-list label="Naturalidade" [value]="pessoa?.naturalidade"></lib-list>
    <lib-list label="Estado Civil" [value]="pessoa?.estado_civil"></lib-list>
    <lib-list label="Nome da Mãe" [value]="pessoa?.nome_mae"></lib-list>
    <lib-list label="Nome do Pai" [value]="pessoa?.nome_pai"></lib-list>
    <lib-list label="Sexo" [value]="pessoa?.sexo === 'M' ? 'Masculino' : 'Feminino'"></lib-list>
    <lib-list label="CEP" [value]="pessoa?.endereco.cep" mask="cep"></lib-list>
    <lib-list label="Logradouro" [value]="pessoa?.endereco.logradouro"></lib-list>
    <lib-list label="Número" [value]="pessoa?.endereco.numero"></lib-list>
    <lib-list label="Bairro" [value]="pessoa?.endereco.bairro"></lib-list>
    <lib-list label="Complemento" [value]="pessoa?.endereco.complemento"></lib-list>
    <lib-list label="Município" [value]="pessoa?.endereco.municipio"></lib-list>
    <lib-list label="UF" [value]="pessoa?.endereco.uf"></lib-list>
    <lib-list label="Email" [value]="pessoa?.endereco.email"></lib-list>
    <lib-list label="DDD Telefone" [value]="pessoa?.endereco.ddd_telefone"></lib-list>
    <lib-list label="Telefone" [value]="pessoa?.endereco.telefone"></lib-list>
    <lib-list label="DDD Celular" [value]="pessoa?.endereco.ddd_celular"></lib-list>
    <lib-list label="Celular" [value]="pessoa?.endereco.celular"></lib-list>
</lib-collapse>
