:root {
    --sig-primary: #005b34;
    --sig-primary-focus: #00361f;
    --sig-primary-light: #b5d1c5;
    --sig-primary-lighter: #e7f2ee;
    --sig-primary-border: #9abeb2;
    --sig-primary-dark: #4f4f4f;
    --sig-terciary: #2b783e;
    --sig-white: #fff;
    --sig-error-border: #e64757;
    --sig-error-shadow: #dc354538;
}
