$primary: #005b34;
$primary-focus: #00361f;
$white: #fff;
$primary-light: #b5d1c5;
$primary-lighter: #e7f2ee;
$primary-border: #9abeb2;
$primary-darck: #4f4f4f;
$error-border: #e64757;
$error-shadow: #dc354538;

body {
  color: $primary-darck;

  &:before, &:after {
    content:'';
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:before {
    top: 0;
    height: 10em;
    background: $primary-lighter;
    background: -moz-linear-gradient(top, $primary-lighter 66%, $white 100%);
    background: -webkit-linear-gradient(top, $primary-lighter 66%, $white 100%);
    background: linear-gradient(to bottom, $primary-lighter 66%, $white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary-lighter', endColorstr='$white', GradientType=0);
  }

  &:after {
    top: 5.7em;
    height: 0.5em;
    background: $primary-border;
    z-index: 5;
  }
}

.vox-cards {
  .card {
    border: none;
    margin-bottom: .5rem;
    border-radius: 0;

    .panel-collapse {
      .card-body {
        padding: 1rem .7rem;

        .table {
          tr {

            th,
            td {
              font-size: 13px;
            }

            th {
              background: $primary-lighter;
              font-size: 13px;
            }
          }
        }

        .card-header {
          background: $primary-lighter;
          font-weight: bold;
          padding: .6rem;
          margin-bottom: .6rem;
        }

      }
    }

    .card-header {
      cursor: pointer;
      border: none;
      border-radius: 0;
      background: $primary-light;
      padding: .7rem;
      font-size: 14px;
      text-transform: uppercase;
    }

    h5 {
      font-size: 14px;
      margin: 0;
      padding: 0;
      padding: 0.1rem;

      button {
        text-decoration: none;
        padding: 0;
        margin: 0;
        width: 100%;
        border: none;

        h5 {
          font-size: 14px;
          color: $primary-darck;
          margin: 0;
          padding: 0;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }

    .card {
      margin-bottom: 0;
    }

    .vox-cards .card .lib-card-title {
      font-weight: 600;
      font-size: .9rem;
      color: $primary-darck;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.card-box-content {
  display: inline-block;
  width: 100%;
  border: 1px solid $primary;
  padding: 2em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: .75rem;
}

.form-control {
  padding: .4em .2em;

  &:focus {
    border-color: $primary-border;
    box-shadow: 0 0 0 0.2rem $primary-lighter;
  }
}

.input-invalid {
  border: solid 1px $error-border;
  box-shadow: 0 0 0 0.2rem $error-shadow;

  &:focus{
    @extend .input-invalid;
  }
}

/********************************************************************
buttons
********************************************************************/
button,
input {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.btn-nav-base, .btn-nav-secondary {
  margin-bottom: 5px;
  position: relative;
  color: $white;
  text-transform: uppercase;
  font-size: .9em;
  overflow: hidden;
}

.btn-nav-base {
  background: $primary;

  &:hover {
    background: $primary-focus;
    color: $white;
  }
}

.btn-nav-secondary {
  background: $primary-darck;
}

.btn-nav-ico-right {
  padding-right: 3.5em;
}

.btn-nav-ico-left {
  padding-left: 3.5em;
}

.btn-acao {
  margin: 0 0 .5em .5em;
}


.btn-acao-group {
  float: right;
  width: 84%;
  text-align: right;
}

.btn-singout {
  right: 17em;
  font-size: 1.3em !important
}

/********************************************************************
header
********************************************************************/

#permission-client {
  position: relative;
  z-index: 10;
}

.name-user,
.time {
  color: $primary;
}

#permission-system {
  top: 4px !important;

  .nav-item {
    font-size: 1.2em;
  }
}

.page-header,
.container-base {
  width: 997px
}

.container-base {
  font-size: .9em
}

a {
  color: $primary;

  &:hover {
    color: $primary-focus;
  }
}

.ico {
  position: absolute;
  padding: 0.3em 0.7em;
  background: $primary-focus;
  font-size: 1.2em;
  top: 0;
}

.ico-right {
  @extend .ico;
  right: 0
}

.ico-left {
  @extend .ico;
  left: 0;
}

.col-form-label {
  text-align: right;
}

/********************************************************************
Nav
********************************************************************/
#permission-navigation {
  border: 0;
  background-color: #e5e5e5;
}

.permission-navigation-title {
  padding: .4em 0 .3em .8em;
  background: #ccc;

  h5 {
    margin: 0;
    font-size: 1em;
  }
}

.nav-tabs {
  border-bottom: 1px solid #215827;

  .nav-item {
    margin-top: 0;
    border-bottom: .1em solid #286834;
  }

  .nav-link {
    color: #24592fc4;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 1px solid #9292922e;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #e8f3f047;

    &:hover {
      background: $primary-light;
    }

    .nav-item.show .nav-link, .active {
      color: #286935;
      background-color: $primary-lighter;
      border-color: #286935 #276432 $white;
      font-weight: 600;
    }
  }
}
