<lib-grid-page>
    <lib-input
        [isGrid]="true"
        [label]="formLabelGridPesquisa.protocolo"
        [formControlName]="formFieldGridPesquisa.protocolo"
        [form]="pesquisaForm"
        [message]="
            !pesquisaForm.protocolo.valid
                ? pesquisaForm.getFirstErrorFrom(formFieldGridPesquisa.protocolo, formLabelGridPesquisa.protocolo)
                : ''
        "
    ></lib-input>

    <lib-input
        [isGrid]="true"
        [label]="formLabelGridPesquisa.cpf"
        [formControlName]="formFieldGridPesquisa.cpf"
        [textMask]="maskFactory.createCpf()"
        [form]="pesquisaForm"
        [message]="
            !pesquisaForm.cpf.valid
                ? pesquisaForm.getFirstErrorFrom(formFieldGridPesquisa.cpf, formLabelGridPesquisa.cpf)
                : ''
        "
    ></lib-input>

    <lib-input
        [isGrid]="true"
        [label]="formLabelGridPesquisa.tipo"
        [formControlName]="formFieldGridPesquisa.tipo"
        col="5"
        [form]="pesquisaForm"
        type="select"
        [options]="tipos"
        [message]="
            !pesquisaForm.tipo.valid
                ? pesquisaForm.getFirstErrorFrom(formFieldGridPesquisa.tipo, formLabelGridPesquisa.tipo)
                : ''
        "
    ></lib-input>

    <lib-input
        [isGrid]="true"
        [label]="formLabelGridPesquisa.statusProcesso"
        [formControlName]="formFieldGridPesquisa.statusProcesso"
        col="5"
        [form]="pesquisaForm"
        type="select"
        [options]="statusProcesso"
        [message]="
            !pesquisaForm.statusProcesso.valid
                ? pesquisaForm.getFirstErrorFrom(
                      formFieldGridPesquisa.statusProcesso,
                      formLabelGridPesquisa.statusProcesso
                  )
                : ''
        "
    ></lib-input>

    <div class="form-group row col">
        <label for="data-inicial" class="col-4 col-form-label text-left">Data Protocolo:</label>
        <div class="col-3">
            <lib-input
                [formControlName]="formFieldGridPesquisa.dataInicial"
                [maxDate]="dateMax"
                [form]="pesquisaForm"
                type="date"
                col="12"
                [message]="
                    !pesquisaForm.dataInicial.valid
                        ? pesquisaForm.getFirstErrorFrom(
                              formFieldGridPesquisa.dataInicial,
                              formFieldGridPesquisa.dataInicial
                          )
                        : ''
                "
            >
            </lib-input>
        </div>
        <div class="col-3 ml-2">
            <lib-input
                [formControlName]="formFieldGridPesquisa.dataFinal"
                [minDate]="dateMin"
                [form]="pesquisaForm"
                type="date"
                col="12"
                [message]="
                    !pesquisaForm.dataFinal.valid
                        ? pesquisaForm.getFirstErrorFrom(
                              formFieldGridPesquisa.dataFinal,
                              formFieldGridPesquisa.dataFinal
                          )
                        : ''
                "
            >
            </lib-input>
        </div>
    </div>

    <div class="d-flex flex-row-reverse mt-2">
        <lib-button label="Pesquisar" (click)="pesquisar()" [loading]="loading"></lib-button>
    </div>
</lib-grid-page>
