

$_color_primaria: #286935;

.form-group {
    font-size: 0.9rem;
}

.titulo-principal {
    border-bottom: solid 1px $_color_primaria;
    border-left: solid 1px $_color_primaria;
    color: $_color_primaria;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 20px;
    padding: 8px 0 8px 8px;
    text-transform: uppercase;
}

.titulo-secundario {
    align-items: center;
    background-color: #e6f2ee;
    color: #003925;
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    height: 40px;
    padding: 0 0 0 10px;
    text-transform: uppercase;
}

.texto-obrigatorio {
    color: red;
}

.align-center-flex {
    align-items: center;
    display: flex;
}
