header {
    display: flex;
    height: 360px;
    color: #ffffff;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 32px;
        margin: 48px 0 32px 0;
    }
    h3 {
        font-size: 28px;
        margin: 48px 0 32px 0;
    }

    ul {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        padding: 0;
    }

    .list-card {
        background: #e1e5ea;
        border-radius: 5px;
        box-shadow: 0px 5px 8px #0000000a;
        width: calc((100% / 3) - 48px);
        min-height: 150px;
        display: flex;
        padding: 12px;
        flex-direction: column;
        gap: 8px;
    }

    .list-lib {
        background: #e1e5ea;
        border-radius: 5px;
        box-shadow: 0px 5px 8px #0000000a;
        width: calc((100% / 4) - 48px);
        display: flex;
        padding: 12px;
        flex-direction: column;
        gap: 8px;
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 95%;
        }
    }
}
