@if (dataProjects) {
    <header [style]="['background:'] + dataProjects.colorPrimary">
        <div class="wrapper">
            <h1>{{ dataProjects.title }}</h1>
        </div>
        <a [routerLink]="['/']"> Voltar </a>
    </header>

    <main class="wrapper">
        @for (item of dataProjects.projects; track item.id) {
            @defer {
                <div class="project">
                    <h2>{{ item.title }}</h2>
                    <ul>
                        @for (it of item.details; track it.title) {
                            <li class="list-card">
                                <b>{{ it.title }}:</b>

                                {{ it.description }}
                            </li>
                        } @empty {
                            Lista não encontrada.
                        }
                    </ul>
                </div>
                <h3>Bibliotecas</h3>
                <ul>
                    @for (it of item.libs; track it.key) {
                        <li class="list-lib">
                            <span>
                                <b>{{ it.key }}:</b> {{ it.value }}
                            </span>
                        </li>
                    } @empty {
                        Lista não encontrada.
                    }
                </ul>
            } @placeholder {
                <p>Carregando dados...</p>
            } @error {
                <p>Ocorreu um erro na requisição.</p>
            }
        }
    </main>
} @else {
    <p>Sem dados</p>
}
