@if (dataProjects) {
    <header [style]="['background:'] + dataProjects.colorPrimary">
        <div class="wrapper">
            <div class="header__title">
                <h1>{{ dataProjects.title }}</h1>
                <div class="header__title--btns">
                    <button [style]="['color:'] + dataProjects.colorPrimary" type="button" (click)="reloadData()">
                        <i class="fa-solid fa-rotate"></i>Recarregar
                    </button>
                    <button [style]="['color:'] + dataProjects.colorPrimary" [routerLink]="['/']" type="button">
                        <i class="fa-solid fa-chevron-left"></i>Voltar
                    </button>
                </div>
            </div>

            <div class="header__form">
                <form action="">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input
                        class="search"
                        type="text"
                        placeholder="Pesquise pelos detalhes"
                        (input)="filterDetails = $event.target.value"
                    />

                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input
                        class="search"
                        type="text"
                        placeholder="Pesquise por uma tecnologia"
                        (input)="filterLibs = $event.target.value"
                    />
                </form>

                <div class="header__form--filters">
                    <label class="toggle">
                        <input (click)="showHideDetails()" class="toggle-checkbox" type="checkbox" checked />
                        <div class="toggle-switch"></div>
                        <span class="toggle-label">Detalhes</span>
                    </label>

                    <label class="toggle">
                        <input (click)="showHideLibs()" class="toggle-checkbox" type="checkbox" checked />
                        <div class="toggle-switch"></div>
                        <span class="toggle-label">Bibliotecas</span>
                    </label>
                </div>
            </div>
        </div>
    </header>

    <main class="wrapper">
        @for (item of dataProjects.projects | searchFilter: filterDetails || filterLibs; track item.id) {
            @defer {
                <div class="project">
                    <h2>{{ item.title }}</h2>
                    <div [ngClass]="showDetails ? 'show' : 'hide'">
                        <ul>
                            @for (it of item.details | searchFilter: filterDetails; track it.title) {
                                <li class="list-card">
                                    <b>{{ it.title }}:</b>

                                    {{ it.description }}
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div [ngClass]="showLibs ? 'show' : 'hide'">
                    <h3>Bibliotecas</h3>

                    <ul>
                        @for (it of item.libs | searchFilter: filterLibs; track it.title) {
                            <li class="list-lib" *ngIf="$index < 16 || !showMoreLibs">
                                <!-- todo: melhorar visual do tooltip -->
                                <span title="{{ it.key }}: {{ it.value }}"
                                    ><b>{{ it.key }}:</b> {{ it.value }}
                                </span>
                            </li>
                        }
                    </ul>
                    <!-- @todo segregar em array bool showMoreLibs[$index] -->
                    <button class="btn-vermais" (click)="showMoreLibs = !showMoreLibs">
                        <i class="fa-solid {{ showMoreLibs ? 'fa-plus' : 'fa-minus' }}"></i>
                        {{ showMoreLibs ? 'Ver mais' : 'Ver menos' }}
                    </button>
                </div>
                <hr />
            } @placeholder {
                <p>Carregando dados...</p>
            } @error {
                <p>Ocorreu um erro na requisição.</p>
            }
        } @empty {
            <p>Sem dados para a pesquisa.</p>
        }
    </main>
} @else {
    <p>Sem dados</p>
}
